

html, body{
    background-color: rgb(204, 204, 204) !important;
    margin: 0;
    height: 100%;
}

.bg-white{
    background:#ffffff;
}


ul{
    background-color: #CCCCCC;
}
li{
    margin-right:6px;
    margin-bottom:6px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

#myBag, #productList{
    margin-left : 0px !important; 
}

.sectionTitle{
    padding: 10px;
    margin-bottom: 6px;
    font-size: 12.5px;
    font-family: 'Polaris-Bold';
    line-height: 19px;
    font-weight: bold;
}

.productTitle{
    color: #222222;
    font-size: 13px;
    font-family: "PolarisCondenced-Bold";
    line-height: 19px;
    font-weight: bold;
}

.productDescription, .productPrice{
    color: #222222;
    font-size: 13px;
    font-family: "Polaris-Book";
    line-height: 19px;
}

.btn{
    border-radius: 15px;
}

.container-fluid{
    margin-top: 6px;
}
